export STAGE="local"
export FRONTEND_ORIGIN="http://localhost:3000"
export IMAGES_BASE_URL="http://localhost:4566/lgtmgen-${STAGE}-images"

# Sentry
export SENTRY_DSN="DUMMY"

# Google
export GOOGLE_API_KEY=""
export SEARCH_ENGINE_ID=""

# Azure
export AZURE_API_KEY=""
export AZURE_ENDPOINT=""

# for imagick
export CGO_CFLAGS_ALLOW="-Xpreprocessor"

# Slack
export SLACK_OAUTH_TOKEN=""

# SQS Queue
export SQS_QUEUE_URL_NOTIFICATIONS="http://localhost:4566/000000000000/lgtmgen-${STAGE}-notifications"
