export STAGE="local"

# for imagick
export CGO_CFLAGS_ALLOW="-Xpreprocessor"

# DynamoDB Table
export DYNAMODB_TABLE_LGTMS="lgtmgen-${STAGE}-lgtms"

# S3 Bucket
export S3_BUCKET_IMAGES="lgtmgen-${STAGE}-images"
