export STAGE="local"

# for imagick
export CGO_CFLAGS_ALLOW="-Xpreprocessor"

# Slack
export SLACK_OAUTH_TOKEN=""

# SQS Queue
export SQS_QUEUE_URL_NOTIFICATIONS="http://localhost:4566/000000000000/lgtmgen-${STAGE}-notifications"
